div._loading_overlay_wrapper {
    position: unset;
    ._loading_overlay_overlay {
        z-index: 1000;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
    }
}

.container {
    h4 {
        padding: 8px 0;
    }
    .form-group {
        button {
            height: 38px;
        }
        .refresh {
            margin-left: 8px;
        }
        .date-input {
            z-index: 999;
            .react-datepicker-wrapper {
                display: block;
            }
        }
    }
    table {
        td,th {
            max-width: 100px;
            overflow: hidden; 
            text-overflow: ellipsis;
            white-space: nowrap;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    color: #fff;
                }
            }
        }
        td {
            .status {
                text-align: center;
                border-radius: 8px;
                font-weight: 600;
                padding: 4px 8px;
                display: inline-block;
                &.status--wait {
                    background-color: #F4EFFF;
                    color: #9A84DA;
                }
                &.status--success {
                    background-color: #EAFEF3;
                    color: #2ECC71;
                }
                &.status--warning {
                    background-color: #FFF6E5;
                    color: #F4BD50;
                }
                &.status--danger {
                    background-color: #FFCDD2;
                    color: #C62828;
                }
            }
        }
    }
    .pagination {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}