.header-navbar {
    position: fixed ;
    top: 0 ;
    left: 0 ;
    bottom: 0 ;
    right: 0 ;
    z-index: 9999;
    background-color: var(--bg-color);
    width: 250px;
    overflow-y: auto;
    box-shadow: 0 0 5px var(--rgba-color-login);
    ul {
        background-color: var(--bg-color);
        list-style: none;
        padding: 0;
        li {

            .user {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 8px 16px;
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 8px;
                }
                p {
                    color: var(--text-color);
                    margin: 0;
                }
            }

            a {
                text-decoration: none;
                position: relative;
                padding: 8px 16px;
                color: var(--text-color);
                display: block;
                font-size: 16px;
                transition: all 0.3s;
                i {
                    margin-right: 8px;
                    font-size: 16px;
                }
                &:hover {
                    color: var(--hover-color);
                    background-color: var(--hover-bg);
                }

                &.active {
                    color: var(--hover-color);
                    background-color: var(--hover-bg);  
                }
                &:hover::before,
                &.active::before {
                    content: "";
                    height: 41px;
                    width: 3px;
                    background-color: var(--hover-color);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .logout-menu {
                padding: 8px 16px;
                text-decoration: none;
                position: relative;
                padding: 8px 16px;
                color: var(--text-color);
                display: block;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                p {
                    padding: 8px;
                    margin: 0;
                    color: var(--text-color);
                }
                .subnav {
                    background-color: var(--bg-color);
                    list-style: none;
                    padding: 0;
                    min-width: 150px;
                    .subnav-li {
                        .subnav-li-a {
                            display: block;
                            text-decoration: none;
                            font-size: 13px;
                            padding: 8px 16px;
                            color: var(--text-color);
                            transition: all 0.3s;
                            border-radius: initial;
                            &:hover {
                                color: var(--hover-color);
                                background-color: var(--hover-bg);
                            }
                            &:hover i {
                                color: var(--hover-color);
                            }
                        }
                    }
                }
            }
        }
    }
    transform: translateX(-200%);
    transition: all 1s;
    &.open {
        transform: translateX(0);
    }
}