.modal-dialog {
    &:has(.modal-content) {
        .modal-content {
            background-color: var(--bg-color) !important;
            color: var(--text-color) !important;
        }
    }
    &:has(.result) {
        .result {
            overflow: hidden;
            > img {
                max-width: 200px;
                display: block;
                margin: 0 auto;
            }
        }
    }
}